
.pp-container {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #0066cc;
}

.logo .plus {
  color: #00b4ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #0066cc;
}
.pp-nav-left a {
  margin-right: 30px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.pp-brand {
  font-size: 24px;
  font-weight: bold;
  color: #0080ff;
}

.pp-main {
  .pp-main {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;   
}

}

.privacy-policy h1.pp-title {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: bold;
  display: flex;
}

.pp-update {
  font-size: 14px;
  color: gray;
  margin-bottom: 30px;
}

.privacy-policy section {
  margin-bottom: 3px;
}

.privacy-policy h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #0080ff;
}

.privacy-policy p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}
