.pp-container {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}

/* HEADER */
.pp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.pp-nav-left a {
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer;
}

.pp-brand {
  font-size: 20px;
  font-weight: bold;
  color: #0080ff;
}

/* BODY */
.pp-body {
  display: flex;
  padding: 30px;
  gap: 40px;
}

/* SIDEBAR */
.pp-sidebar {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pp-menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

/* red circle image placeholder */
.pp-dot-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
}

/* text */
.pp-menu-text {
  font-size: 16px;
  font-weight: bold;
}

/* hover = light blue */
.pp-menu-item.hover {
  background: #7ac4ff;
}

/* active = dark blue */
.pp-menu-item.active {
  background: #1366d6;
  color: white;
}

/* MAIN */
.pp-main {
  flex: 1;
  padding-left: 0; /* remove left padding */
  display: flex;
  flex-direction: column;
  align-items: center; /* center everything horizontally */
}


.pp-title {
  font-size: 32px;
  margin-bottom: 30px;
}

/* PROFILE IMAGE */
.pp-profile-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.pp-avatar-holder {}

.pp-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.pp-avatar-empty {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ddd;
}

.pp-change-btn {
  margin-top: 10px;
  padding: 8px 20px;
  background: #e3e6dd;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* FORM */
.pp-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
}

.pp-field input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.pp-label {
  font-size: 12px;
  margin-bottom: 3px;
}

/* ACTION BUTTONS */
.pp-actions {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: center; /* <-- center the buttons horizontally */
}


.pp-reset,
.pp-save {
  padding: 10px 22px;
  background: #1366d6; /* blue background */
  color: white; /* white text */
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.pp-reset:hover,
.pp-save:hover {
  background: #0f4ea8; /* slightly darker blue on hover */
}

