.pp-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.pp-body {
  display: flex;
  height: 100%;
}


.pp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.pp-nav-left a {
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer;
}

.pp-brand {
  font-size: 20px;
  font-weight: bold;
  color: #0080ff;
}


.pp-sidebar {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pp-menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.pp-dot-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
}

.pp-menu-text {
  font-size: 16px;
  font-weight: bold;
}

.pp-menu-item.hover {
  background: #7ac4ff;
}

.pp-menu-item.active {
  background: #1366d6;
  color: white;
}


.settings-main {
  padding: 40px;
  flex: 1;
}

.settings-title {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;   
  align-items: center;       
  text-align: center;        
}

.settings-subtitle {
  margin-top: 8px;
  color: #8e8e8e;
  font-size: 16px;
  display: flex;
  justify-content: center;  
  align-items: center;       
  text-align: center;        
}

.settings-row {
  width: 600px;
  background: #fff;
  padding: 18px 20px;
  border: 1px solid #dddfe2;
  border-radius: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 18px auto;    
  transition: background 0.2s ease;
}

.settings-row:hover {
  background: #7ac4ff;
}


.settings-row:active {
  background: #1366d6;
  color: white;
  
}

.row-title {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.row-value {
  font-size: 15px;
  color: #8e8e8e;
  margin: 2px 0 0;
}

.row-danger {
  color: #d9534f;
}

.arrow {
  font-size: 22px;
  color: gray;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.btn-confirm {
  color: #fff;
}
.modal-box {
  width: 550px;
  background: white;
  border-radius: 22px;
  padding: 40px;
  box-shadow: 0 10px 26px rgba(0,0,0,0.15);
  animation: popup 0.2s ease-out;
}
.modal-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-label {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.modal-input {
  width: 100%;
  padding: 16px;
  border-radius: 14px;
  border: 1px solid #d1d1d1;
  margin: 8px 0 20px;
  font-size: 16px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn-cancel {
  padding: 12px 26px;
  background: #7ac4ff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.btn-confirm {
  padding: 12px 26px;
  background: #1366d6;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
@keyframes popup {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


.checkbox-row {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 12px;
  gap: 8px;
}

.checkbox-label {
  font-size: 14px;
  cursor: pointer;
}


.da-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.40);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.da-box {
  width: 550px;
  background: white;
  border-radius: 22px;
  padding: 40px;
  box-shadow: 0 10px 26px rgba(0,0,0,0.15);
  animation: popup 0.2s ease-out;
}

.da-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}



.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px; 
}


.da-btn-cancel {
  padding: 12px 26px;
  background: #7ac4ff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.da-btn-confirm {
  padding: 12px 26px;
  background: #1366d6;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}


.da-radio-group {
  display: flex;
  flex-direction: column;  
  margin-top: 12px;        
  gap: 10px;               
}

.da-radio-group label {
  display: flex;
  align-items: center;
  gap: 10px;               
  cursor: pointer;
  width: 100%;             
}


.da-radio-group input[type="radio"] {
  accent-color: #1366d6; 
}
