.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.left-side {
  flex: 0.7;
  min-width: 0;
  overflow: hidden;
  position: relative;
  display: flex;
}

.right-side {
  flex: 1.3;       
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  padding: 40px;
}

.left-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
}

.left-overlay {
  position: absolute;
  text-align: center;
  color: white;
  padding: 20px;
  bottom: 10%;
}

h2.new {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: -370px; 
  margin-left: 15px; 
}

.welcome-title {
  font-size: 1.1rem;
  margin-bottom: 20px;
  margin-left: 20px;  
}

.btn-signup {
  width: 70%;
  padding: 12px;
  background-color: #84deff;
  color: white;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 15px;  
  margin-top: -1px; 
  border: 2px solid #84deff;
  font-weight: 630;

}
.btn-signup:hover {
  background-color: #fff;
  color: #84deff;
}


.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #0066cc;
  position: absolute;
  top: 20px;
  right: 30px;
}

.logo .plus {
  color: #00b4ff;
}


.login-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  width: 80%;
  max-width: 350px;
  text-align: center;
}

.input-group input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 100px;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}

.options label {
  font-size: 0.9rem;
}

.forgot {
  font-size: 0.9rem;
  color: #555;
  text-decoration: none;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background-color: #0066cc;
  color: white;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid #0066cc;
font-weight: 630;

}

.btn-login:hover {
  background-color: #fff;
  color: #0066cc;
}