.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.left-side {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-overlay {
  position: absolute;
  text-align: center;
  color: white;
  padding: 20px;
  bottom: 10%;
}

h2.new {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: -370px;
  margin-left: 15px;
}

.welcome-title {
  font-size: 1.1rem;
  margin-bottom: 20px;
  margin-left: 20px;
}

.btn-login-left {
  width: 70%;
  padding: 12px;
  background-color: #84deff;
  color: white;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 15px;
  border: 2px solid #84deff;
  font-weight: 630;
}

.btn-login-left:hover {
  background-color: #fff;
  color: #84deff;
}

.right-side {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  padding: 40px;
}

.login-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  width: 80%;
  max-width: 350px;
  text-align: center;
}

.input-group input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 100px;
  border: 1px solid #ccc;
}

.terms-box {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background-color: #0066cc;
  color: white;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid #0066cc;
  font-weight: 630;
}

.btn-login:hover {
  background-color: #fff;
  color: #0066cc;
}

.or-text {
  font-size: 0.9rem;
  margin: 20px 0;
  color: #555;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  object-fit: contain;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #0066cc;
  position: absolute;
  top: 20px;
  right: 30px;
}

.logo .plus {
  color: #00b4ff;
}